{% extends "base.html" %}

	{% block content %}
        {% for cat,articles in categories %}
                {% for a in articles if a.type =='editorial' %}  
                    <div class="row align-items-center my-5 card-body">
                        <div class="card border-light"> 
                          <div class="card-body">
                              <h1 class="card-title">{{ a.title }}</h1><hr>
                            <p class="card-text">{{ a.content }}</p>
                          </div>
                        </div>
                    </div>
                {% endfor %}
            
                {% for a in articles if a.type !='editorial' %}  
                {% if loop.index % 2 == 1 %}
                <div class="row align-items-center my-5 card-body">
                  <!-- /.col-lg-8 -->
                  <div class="col-lg-8">
                      <h1 class="font-weight-light">{{ a.title }}</h1>
                    <p>{{ a.summary }}</p>
                    <a class="btn btn-primary" href="{{ SITEURL }}/{{ a.url }}">Read more...</a>
                  </div>
                  <!-- /.col-md-4 -->
                   <div class="col-lg-4">
                      <img class="img-fluid rounded mb-4 mb-lg-0" src="{{ SITEURL }}/{{ a.featured_image  }}" alt="">
                  </div>
                </div>
                {% endif %}
            
                {% if loop.index % 2 == 0 %}
                <div class="row align-items-center my-5 card-body">
                  <div class="col-lg-4">
                      <img class="img-fluid rounded mb-4 mb-lg-0" src="{{ SITEURL }}/{{ a.featured_image  }}" alt="">
                  </div>
                  <!-- /.col-lg-8 -->
                  <div class="col-lg-8">
                      <h1 class="font-weight-light">{{ a.title }}</h1>
                    <p>{{ a.summary }}</p>
                    <a class="btn btn-primary" href="{{ SITEURL }}/{{ a.url }}">Read more...</a>
                  </div>
                  <!-- /.col-md-4 -->
                </div>
                {% endif %}

                {% endfor %}
            
        {% endfor %}
	{% endblock %}

{% block sidebar %}
         {% for cat,articles in categories %}
            {% if loop.index == 1 %}
                <div class="card border-light mb-3">
                  <div class="card-header">In Current Issue</div>
                    <div class="card-body">
                         <ul class="list-group list-group-flush">
                          {% for a in articles %}
                            <li class="list-group-item"><a href="{{ SITEURL }}/{{ a.url }}">{{ a.title }}</a></li>
                          {% endfor %}
                         </ul>
                    </div>
                 </div>
            {% endif %}
        {% endfor %}
 {% endblock %}
